.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  width: 45%;
  border-radius: 20px;
  padding-bottom: 10px;
  .post {
    background-color: white;
    margin: 10px 20px;
    padding: 0 10px;
    border-radius: 20px;
  }
  h1 {
    font-size: 24px;
  }
  p {
    font-style: italic;
  }
}
